<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> all people</h1>
    <ul>
        <% for (people of c){ %> 
            <li>  <a href="/people/<%=people._id %> "><%=people.name  %></a>   </li>     
        <% } %> 
    </ul>
    <a href="/people/new">new people</a> 
</body>
</html>