<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>creat your account</h1>
    <form action="/people" method="post">
        <label for="name">name</label>
        <input type="text" name = 'name' id = 'name' placeholder="fill your name">
        <label for="city">city</label>
        <input type="text" name = 'city' id = 'city' placeholder="city">
        <label for="emial">email</label>
        <input type="text" name = 'email' id = 'email' placeholder="email">
        
        <button>submit</button>
        <a href="/people">all people</a>

    </form>
</body>
</html>